body {
    /* centering child divs */
    text-align: center;
    line-height: 2;
}

h1 {
    margin-bottom: 5%;
    color: white;
}

.container-fluid {
    padding: 40% 40%;
    /* centering */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* designing */
    background-color: #B3C890;
    width: 50%;
    padding: 5% 0;
    border-radius: 10px;
    box-shadow: 3px 3px 12px grey;
}

.temp-col {
    margin: 3%;
}

.temp-col input {
    width: 15rem;
    padding-left: 1.5%;
    border: none;
    border-radius: 5px;
}

/* for chrome, safari, Edge, Opera */
/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
} */

.temp-col button {
    width: 3rem;
    border: none;
    border-radius: 10%;
    background-color: #7C9070;
    color: white;
}

.btn {
    margin: 5% 0 2% 0;
    width: 7rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

/* Responsiveness, have to put it at last */
@media (max-width: 510px) {
    body {
        background-color: #B3C890;
    }

    .container-fluid {
        width: 100%;
        border-radius: 0;
        box-shadow: none;
    }

    .temp-col {
        margin-bottom: 20px;
    }

    h1 {
        margin-bottom: 10%;
        font-size: 2.5rem;
    }
}

